@{
    ViewData["Title"] = "Feaux Amazon";
}

@model BooksViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>



<table class="table table-bordered table-striped">

    <thead class="font-weight-bold">
        <tr>
            <td>Title</td>
            <td>Author</td>
            <td>Publisher</td>
            <td>ISBN</td>
            <td>Classification</td>
            <td>Category</td>
            <td>Page Count To</td>
            <td>Price</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model.Books)
        {
            <tr>
                <td>@x.Title</td>
                <td>@x.Author</td>
                <td>@x.Publisher</td>
                <td>@x.Isbn</td>
                <td>@x.Classification</td>
                <td>@x.Category</td>
                <td>@x.PageCount</td>
                <td>$@x.Price</td>
                <td><a class="btn btn-danger btn-sm" asp-controller="Home" asp-action="Delete" asp-route-id="@x.BookId">Delete</a></td>
            </tr>
        }
    </tbody>

</table>

<div page-model="@Model.PageInfo" page-action="Index"></div>